/* line 4, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/about_mes.css.scss */
#topleft {
  float: left;
  position: relative;
  width: auto;
  word-wrap: break-word;
  height: 100%;
  margin: 2%;
  padding: 2%;
}

/* line 14, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/about_mes.css.scss */
#tag {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.475em;
  margin-left: 10%;
}

/* line 20, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/about_mes.css.scss */
#greeting {
  font-family: "Courier New", cursive, sans-serif;
  font-size: 1.475em;
}

/* line 25, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/about_mes.css.scss */
#sign {
  font-family: cursive;
  font-size: large;
  float: right;
}

/* line 31, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/about_mes.css.scss */
#top {
  position: relative;
  width: 100%;
  box-shadow: 1px 1px 10PX gray;
  color: gray;
  height: 100%;
  margin-top: -20px;
  background-color: white;
}

/* line 41, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/about_mes.css.scss */
#topright {
  padding: 2%;
}
/* line 4, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/posts.css.scss */
#postdiv {
  width: 100%;
  box-shadow: 0px 0px 1PX gray;
  color: black;
  padding: 2%;
  background-color: whitesmoke;
  font-size: 140%;
  font-weight: normal;
  line-height: 1.4em;
  color: #333333;
}

/* line 16, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/posts.css.scss */
.postTitle {
  font-style: italic;
  font-family: monospace;
  font-size: x-large;
}

/* line 21, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/posts.css.scss */
#comments {
  font-style: italic;
  font-family: monospace;
  font-size: x-large;
}
/* line 1, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /Users/Balus/rubyprojects/mysite/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

body {
   height: 100%;
   background-color: whitesmoke;
}

.container {
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: auto;
}

.titleclass{
  text-align: right;
}

#bottom {
  width: auto;
  background-color: whitesmoke;
  margin-: 1%;
  text-align: center;
}

.editme{
  border: 2px solid grey;
  padding: 1%;
  box-shadow: 1px 1px 10PX gray;
  color: gray;
  height: 100%;
  background-color: white;
}

.field, .actions{
  margin: 0.5%;
}

input[type="text"] {
  width: 25%;
}

.name{
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5em;
}

.siteflow{
  margin: 1%;
}
