<div class="container editme" >
<%= form_for(@about_me) do |f| %>
  <% if @about_me.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@about_me.errors.count, "error") %> prohibited this about_me from being saved:</h2>

      <ul>
      <% @about_me.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tag %>:
    <%= f.text_field :tag %>
  </div>
  <div class="field">
    <%= f.label :greeting %>:
    <%= f.text_field :greeting %>
  </div>
  <div class="field">
    <%= f.text_area :mylef, :class => "tinymce", :rows => 20, :cols => 30 %>
  </div>
  <div class="field">
    <%= f.label :sign %>
    <%= f.text_field :sign %>
  </div>
  <div calss="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
<%= tinymce %>