<% @about_mes.each do |about_me| %>
  <div class="container" >
  <div id="top">
    <div id="topleft">
      <p> <%= image_tag about_me.image.url %> </p>
        </div>
        <div id="topright">
            <p class='name'>
              <strong><%= about_me.name %></strong><br>
              <lable id='tag'><%= about_me.tag %></label>
            </p>
            <p id='greeting'>
              <strong> <%= about_me.greeting %></strong>
            </p>

            <div>
              <%= about_me.mylef.html_safe %>
            </div >

            <p id='sign'>
              <%= about_me.sign %>
            </p>

            <%= link_to 'Edit', edit_about_me_path(about_me) %> |
            <%= link_to 'Back', about_mes_path %>
            <%= link_to 'New About me', new_about_me_path %>
        </div>
      </div>
    </div>
<% end %><br>
