
<div class="container" >
  <div id="postdiv">
      <p id="notice"><%= notice %></p>
      <p class='postTitle'>
        <strong>Title:</strong>
        <%= @post.title %>
      </p>

      <p id='postBody'>
        <%= @post.body.html_safe %>
      </p>

      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>

      <h2> Comments </h2>
      <div id="comments">
        <%= render :partial => @post.comments.reverse %>
      </div>

      <%= form_for([@post, Comment.new], remote: true) do |newcoment| %>
        <p><%= newcoment.label :body, "New comment" %><br>
          <%= newcoment.text_area :body %>
        </p>
        <p><%= newcoment.submit "Add Comment"  %> </p>
      <% end %>
    </div>
  </div>
</div>