// Place all the styles related to the AboutMes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#topleft{
  float: left;
  position: relative;
  width: auto;
  word-wrap: break-word;
  height: 100%;
  margin: 2%;
  padding: 2%;
}

#tag{
  font-family: "Times New Roman", Times, serif;
  font-size: 0.475em;
  margin-left: 10%;
}

#greeting{
  font-family: "Courier New", cursive, sans-serif;
  font-size: 1.475em;
}

#sign{
  font-family: cursive;
  font-size: large;
  float: right;
}

#top{
  position: relative;
  width: 100%;
  box-shadow: 1px 1px 10PX gray;
  color: gray;
  height: 100%;
  margin-top: -20px;
  background-color: white;
}

#topright{
  padding: 2%;
}