/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
   height: 100%;
   background-color: whitesmoke;
}

.container {
    position: relative;
    width: 80%;
    margin-left: 10%;
    height: auto;
}

.titleclass{
  text-align: right;
}

#bottom {
  width: auto;
  background-color: whitesmoke;
  margin: 1%;
}

.editme{
  border: 2px solid grey;
  padding: 1%;
  box-shadow: 1px 1px 10PX gray;
  color: gray;
  height: 100%;
  background-color: white;
}

.field, .actions{
  margin: 0.5%;
}

input[type="text"] {
  width: 25%;
}

.name{
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5em;
}

.siteflow{
  margin: 1%;
}