// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#postdiv{
  width: 100%;
  box-shadow: 0px 0px 1PX gray;
  color: black;
  padding: 2%;
  background-color: whitesmoke;
  font-size:140%;
  font-weight:normal;
  line-height:1.4em;
  color:#333333;
}

.postTitle{
  font-style: italic;
  font-family: monospace;
  font-size: x-large;
}
#comments{
  font-style: italic;
  font-family: monospace;
  font-size: x-large;
}