<!DOCTYPE html>
<html>
<head>
  <title>Mysite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="titleclass">
  <h2 class="name container">Bala subrahmanyam</h2>
</div>

<%= yield %>
<div id="bottom">
    <button class="siteflow"><p><%= image_tag "aboutme.png" %></p><%= link_to 'AboutMe', about_mes_path %></button>
    <button class="siteflow"><p><%= image_tag "MyHistory.jpeg" %></p>My Journey sofar</button>
    <button class="siteflow"><p><%= image_tag "MyWork.jpeg" %></p>About my work</button>
    <button class="siteflow"><p><%= image_tag "MyBlogs.jpeg" %></p><%= link_to 'Blogs', posts_path %></button>
    <button class="siteflow"><p><%= image_tag "contact.jpg" %></p>Contacts</button>
  </div>
</body>
</html>
